/* 
=======================================

Settings, Variables and Functions Setup

=======================================
*/


* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


@mixin desktop {
    @media (min-width: 1080px) {
        @content;
    }
}


@mixin tablet {
    @media (min-width: 750px) {
        @content;
    }
}


$colors: (
    1: #ececec,
    2: #72d2d3,
    3: #009893,
    4: #494949,
    accent: rgb(228, 50, 50)
);


@function color($color-name) {
    @return map-get($colors, $color-name);
}


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


$fonts: (
    1: 18px,
    2: 24px,
    3: 32px,
    primary: Quicksand,
);


@function ff($ff) {
    @return map-get($fonts, $ff);
}


/* 
============================================

    Body, Navigation and Footer setup

============================================
*/


header {
    grid-column: 1 / span 6;
    position: sticky;
    top: 0;
    z-index: 999;
    display: block;
    width: 100%;
    height: min-content;
    background-color: color(3);
}


body {
    position: relative;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(6, 1fr);
    max-width: 100vw;
    min-height: 100vh;
    color: color(1);
    background-color: color(1);
    font-family: ff(primary);
    letter-spacing: 2px;
}


#banner {
    position: relative;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    width: 100%;
    #logo {
        padding: 10px;
        width: 50px;
        height: 50px;
        @include desktop() {
            width: 100px;
            height: 100px;
        }
    }
    h1 {
        justify-self: center;
        align-self: center;
        width: max-content;
        height: max-content;
        font-size: ff(1);
        @include desktop() {
            font-size: ff(3);
        }
    }
    #menu {
        justify-self: end;
        align-self: center;
        padding: 10px;
        width: 40px;
        height: 40px;
        transition: 250ms;
        filter: invert(100%) sepia(1%) saturate(656%) hue-rotate(318deg) brightness(114%) contrast(85%);
        cursor: pointer;
        @include desktop() {
            display: none;
        }
        &.active {
            transform: rotate(180deg);
        }
    }
}


.nav {
    position: absolute;
    z-index: 999;
    display: grid;
    width: 100%;
    min-height: 90.5vh;
    left: -100%;
    background-color: color(3);
    transition: 250ms;

    @include tablet() {
        width: 300px;
    }

    @include desktop() {
        position: relative;
        left: 0;
        height: auto;
        min-height: max-content;
    }

    ul {
        width: fit-content;
        @include desktop() {
            justify-self: center;
            padding-bottom: 1rem;
        }
    }
    
    li {
        margin-left: 1rem;
        width: max-content;
        list-style: none;
        @include desktop() {
            display: inline;
        }
    }
    
    a {
        font-size: ff(3);
        color: color(1);
        text-decoration: none;
        @include desktop() {
            font-size: ff(2);
        }
    }

    &.active {
        left: 0;
    }
}

footer {
    grid-column: 1 / span 6;
    position: relative;
    display: grid;
    width: 100%;
    height: min-content;
    background-color: color(3);

    @include desktop() {
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        display: grid;
        justify-self: center;
        margin: 2rem;
        width: 360px;
        overflow: wrap;
        h1 {
            margin-bottom: 1rem;
            text-align: center;
            font-size: ff(3);
        }
        p {
            text-align: center;
            font-size: ff(1);
        }
        a {
            justify-self: center;
            color: color(1);
            text-decoration: none;
        }
        @include tablet() {
            width: 450px;
        }
        @include desktop() {
            width: auto;
        }
    }
}


/* 
============================================

            Main Page Content

============================================
*/


section {
    grid-column: 2 / span 4;
    justify-self: center;
    margin: 2rem 0;
    max-width: 600px;
    height: max-content;
    color: color(4);
    h1 {
        margin-bottom: 2rem;
        text-align: center;
        font-size: ff(3);
    }
    p {
        font-size: ff(1);
    }
    img {
        margin: 1.5rem 0;
        width: 100%;
    }
}